<!DOCTYPE html>
<html ng-app="LovebirdsApplication" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>BMS - Lovebirds</title>
    <!-- =============== VENDOR STYLES ===============-->
    @Styles.Render("~/bundles/fontawesome")
    @Styles.Render("~/bundles/simpleLineIcons")
    @Styles.Render("~/bundles/animatecss")
    @Styles.Render("~/bundles/whirl")
    @Styles.Render("~/Content/ui-select")
    <!-- =============== PAGE VENDOR STYLES =============== -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link href="@Styles.Url("~/Content/app/css/bootstrap.css")" rel="stylesheet" type="text/css" id="bscss" />
    <!-- =============== APP STYLES ===============-->
    <link href="@Styles.Url("~/Content/app/css/app.css")" rel="stylesheet" type="text/css" id="maincss" />
    <link href="~/Content/angular-toastr.css" rel="stylesheet" />
    <link href="~/Content/ngDialog.min.css" rel="stylesheet" />
    <link href="~/Content/ngDialog-theme-default.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body ng-controller="AppController as vm" ng-cloak>
    <div class="wrapper">

        <!-- top navbar-->
        <header class="topnavbar-wrapper">
            @Html.Partial("_TopNavbar")
        </header>
        <!-- sidebar-->
        <aside class="aside">
            @Html.Partial("_Sidebar")
        </aside>
        <!-- offsidebar-->
        <aside class="offsidebar hide">
            @Html.Partial("_Offsidebar")
        </aside>
        <!-- Main section-->
        <section>
            <!-- Page content-->
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </section>
        <!-- Page footer-->
        <footer>
            @Html.Partial("_Footer")
        </footer>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/storage")
    @Scripts.Render("~/bundles/localize")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/signalr/hubs")

    @Scripts.Render("~/bundles/site")
    <script src="~/Scripts/angular-toastr.tpls.js"></script>
    <script src="~/Scripts/ngDialog.min.js"></script>
    <script src="~/Scripts/ng-infinite-scroll.min.js"></script>
    <script src="~/Scripts/LoveBirds-Angular/LovebirdsApplication.js"></script>
    <script src="~/Scripts/LoveBirds-Angular/UtilityService.js"></script>
    @RenderSection("pageLevelScripts", required: false)
    @RenderSection("scripts", required: false)
    <!-- =============== APP SCRIPTS ===============-->


</body>
</html>