@model ERP.Models.WebModels.OrderListViewModel
@{
    ViewBag.Title = "Print Order";
    Session["MenuKey"] = 20;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/css/invoice.css" rel="stylesheet" />
<div id="PrintDiv">
    <!-- BEGIN PAGE CONTENT-->

    <div class="invoice col-md-8">

        <div class="row invoice-logo">
            <div class="col-md-6 invoice-logo-space">

                <img src="~/Images/Web/logo2.png" class="img-responsive" alt="" />
            </div>
            <div class="col-md-6">
                <p>
                    Order: #@DateTime.Now.Year-@Model.OrderOriginalId
                    <span class="muted">
                        @Model.RecCreatedDateFormatted
                    </span>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-4">
                <h3>Customer:</h3>
                <ul class="list-unstyled">
                    <li>
                        Name: @Model.CustomerName
                    </li>
                    <li>
                        Phone: @Model.CustomerPhone
                    </li>
                    <li>
                        Email: @Model.CustomerEmail
                    </li>

                </ul>
            </div>
            <div class="col-xs-4">
                @*<h3>About:</h3>
                    <ul class="list-unstyled">
                        <li>
                            Drem psum dolor sit amet
                        </li>
                        <li>
                            Laoreet dolore magna
                        </li>
                        <li>
                            Consectetuer adipiscing elit
                        </li>
                        <li>
                            Magna aliquam tincidunt erat volutpat
                        </li>
                        <li>
                            Olor sit amet adipiscing eli
                        </li>
                        <li>
                            Laoreet dolore magna
                        </li>
                    </ul>*@
            </div>
            <div class="col-xs-4 invoice-payment">
                <h3>Payment Details:</h3>
                <ul class="list-unstyled">
                    <li>
                        <strong>Total Qty:</strong>@Model.TotalItems
                    </li>
                    <li>
                        <strong>Sub Total:</strong>Rs. @Model.TotalSale
                    </li>

                    <li>
                        <strong>Discount:    </strong> Rs. @Model.TotalDiscount
                    </li>
                    <li>
                        <strong>Payable:     </strong> <span style="font-weight: bold"> &nbsp;&nbsp;Rs. @(Model.TotalSale - Model.TotalDiscount) </span>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="dataTable" class="table table-striped table-hover" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>

                            <th>
                                Quantity
                            </th>
                            <th>
                                Sub Total
                            </th>


                            <th>
                                Disc Amount
                            </th>
                            <th>
                                Total
                            </th>


                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.OrderItems.Count; i++)
                        {

                            var item = Model.OrderItems[i];

                            <tr>
                                <td>@(i + 1)</td>
                                <td>TW @item.ProductId</td>
                                <td>@item.Product.Name</td>
                                <td>@item.SalePrice</td>
                                <td>@item.Quantity</td>
                                <td>@item.Subtotal</td>
                                <td>@item.Discount</td>
                                <td>@item.TotalItemAmount</td>
                            </tr>

                        }
                    </tbody>

                </table>

            </div>
        </div>
        <div class="row">           
            <div class="col-xs-8">
                <ul class="list-unstyled amounts">

                    <li class="TermsAndConditions">
                        *Items are only replaceable with in 2 days of purchase. No item is refundable.
                    </li>
                    <li class="TermsAndConditions">
                        *Items are not replaceable without receipt. Only check warranty in shop is valid.
                    </li>
                    <li class="TermsAndConditions">
                        *Items in Sale or having discounts are not replaceable
                    </li>
                    <li class="TermsAndConditions">
                        *We reserve the right to replace the items or not.
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 ">@*invoice-block*@
                @*<div class="well">
        <address>
            <strong>Northpark Solutions</strong><br />
            <abbr>M:</abbr> +92-345-7154006 <br />
            <abbr>E:</abbr> jahangir@northparksol.com
        </address>
        <address>
            <a>
                <strong style="font-style: italic">www.northparksol.com</strong>
            </a>
            <a>
                www.northparksol.com
            </a>
        </address>
    </div>*@
                <div class="row">
                    <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                        Print <i class="fa fa-print"></i>
                    </a>
                    <a class="btn btn-lg green hidden-print margin-bottom-5" href="/order/Index">
                        Back to orders <i class="fa fa-check"></i>
                    </a>
                </div>
                
            </div>
            
        </div>


    </div>

    <!-- END PAGE CONTENT-->
</div>


<script type="text/javascript">

    function PrintElem(elem) {
        Popup($(elem).html());
    }

    function Popup(data) {
        var mywindow = window.open('', 'my div', 'height=400,width=600');
        mywindow.document.write('<html><head><title>my div</title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
    }

</script>

