@model ERP.WebApi.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Forgot your password?";
}
<div class="block-center mt-xl wd-xxl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="~/Content/Images/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">@ViewBag.Title</p>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "mb-lg", data_parsley_validate = "", novalidate = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    @Html.LabelFor(m => m.Email, new { @class = "text-muted" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required="", @placeholder="Enter your email" })
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">Email Link</button>
            }
            <p class="pt-lg text-center">Login here</p><a href="@Url.Action("Login")" class="btn btn-block btn-default">Login</a>
        </div>
    </div>
</div>

