@using ERP.WebApi.Models
@model ERP.WebApi.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="block-center mt-xl wd-xxl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="~/Content/Images/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">SIGN IN TO CONTINUE.</p>
            @if (ViewBag.Message != null)
            {
                <div class="col-md-12 alert alert-info">
                    <i class="glyphicon-info-sign"></i> @ViewBag.Message
                </div>
            }
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mb-lg", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "" })
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "" })
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="clearfix">
                    <div class="pull-left mt0">
                        <label>
                            @Html.CheckBoxFor(x=>x.RememberMe)
                            Remember Me
                        </label>
                    </div>
                    <div class="pull-right">
                        <a href="@Url.Action("ForgotPassword")" class="text-muted">Forgot your password?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
            }
            <p class="text-center">Or login with</p>
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            <p class="pt-lg text-center">Need to Signup?</p><a href="@Url.Action("Register")" class="btn btn-block btn-default">Register Now</a>
        </div>
    </div>
    <!-- END panel-->
</div>