@using System.Web.UI.WebControls
@model ERP.Models.WebViewModels.InventoryItemsListViewModel
@{
    ViewBag.Title = "Histoey";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 3;
    Session["SubMenuKey"] = 4;
 }

<div class="portlet light bg-inverse formBodyRemoveSideSpace formBodyMinHeight">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bulb font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Stock</span>
            <span class="caption-helper">@ViewBag.Title</span>
        </div>
        <div class="actions">
            <a href="~/Purchase/New" class="btn default yellow-stripe">
                <i class="fa fa-plus"></i>
                <span class="hidden-480">
                    New Stock
                </span>
            </a>

            @*<a href="javascript:;" class="btn default red-stripe" id="btnResetFltr">
                <i class="fa fa-recycle"></i>
                <span class="hidden-480">
                    Reset
                </span>
            </a>
            <a href="javascript:;" class="btn default blue-stripe" id="btnFltr">
                <i class="fa fa-filter"></i>
                <span class="hidden-480">
                    Filter
                </span>
            </a>*@
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal">
            <div class="form-body">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @*<label class="col-md-3 control-label"> Barcode </label>*@
                                <div class="col-md-12">
                                    @Html.TextBox("Barcode", "", new { @class = "searchInputs form-control listFilter", @id = "Barcode", @placeholder = "Barcode" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @*<label class="col-md-3 control-label"> Item Code </label>*@
                                <div class="col-md-12">
                                    @Html.TextBox("Item Code", "", new { @class = "searchInputs form-control listFilter", @id = "ProductCode", @placeholder = "Item Code" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @*<label class="col-md-3 control-label"> Product Name </label>*@
                                <div class="col-md-12">
                                    @Html.TextBox("ProductName", "", new { @class = "searchInputs form-control listFilter", @id = "ProductName", @placeholder = "Product Name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @*<label class="col-md-3 control-label"> Category </label>*@
                                <div class="col-md-12">
                                    @Html.DropDownListFor(x => x.SearchRequest.Vendor, new SelectList(Model.Vendors, "VendorId", "Name"), "Select Supplier", new { @class = "searchInputs form-control listFilter select2me", @id = "Vendor" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet box">
                    <div class="portlet-body flip-scroll">
                        <table id="dataTable" class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th width="10%">Item Code</th>
                                    <th width="20%">Name</th>
                                    <th width="15%">Brand</th>
                                    <th width="7%">Unit</th>
                                    <th width="13%">Quantity</th>
                                    <th width="12%">Price</th>
                                    <th width="15%">Supplier</th>
                                    <th width="8%">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).on('keyup', '.listFilter', function (ev) {
        if (ev.which === 13) {
            $('#btnFltr').click();
            // Avoid form submit
            return false;
        }
    });

    jQuery(document).ready(function($) {

        var start = ('@Model.SearchRequest.PageNo' - 1) * '@Model.SearchRequest.PageSize';
        var isAsc = '@Model.SearchRequest.IsAsc' == "True" || '@Model.SearchRequest.IsAsc' == "true";
        var sortBy = ['@Model.SearchRequest.SortBy', isAsc ? 'asc' : 'desc'];

        var oTable = $('#dataTable').dataTable({
            "iDisplayLength": 20,
            "displayStart": start || 0,
            "bFilter": false,
            "bLengthChange": false,
            "aaSorting": [sortBy],
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [7] }
                //{
                //    "targets": [0],
                //    "visible": false,
                //    "searchable": false
                //}
            ],
            "columns": [
                { "data": "ProductVariationId" },
                { "data": "ProductName" },
                { "data": "BrandTitle" },
                { "data": "UnitTitle" },
                { "data": "Quantity" },
                { "data": "SalePrice" },
                { "data": "VendorName" },
                {
                    "orderable": false,
                    "data": null,
                    "defaultContent": "<a class='edit'  href='javascript:;'>Edit</a>",
                    "class": "textAlignRight"
                }
            ],
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "/Purchase/History",
                type: "POST",
                dataType: "json",
                data: function(params) {
                    params.PageNo = Math.ceil(params.start / params.length) + 1;
                    if (params.PageNo === 0) {
                        params.PageNo = 1;
                    }
                    params.PageSize = params.length;
                    params.SortBy = params.order[0].column;
                    params.IsAsc = params.order[0].dir === "asc";

                    params.ProductCode = $('#ProductCode').val();
                    params.Barcode = $('#Barcode').val();
                    params.Vendor = $('#Vendor').val();
                    params.Name = $('#ProductName').val();
                    //params.PurchaseDate = $('#PurchaseDate').val();
                }
            }
        });
        $('#btnFltr').on('click', function(e) {
            oTable.fnDraw();
        });

        $('#btnResetFltr').on('click', function(e) {
            $('#ProductCode').val("");
            $('#Barcode').val("");
            $('#Vendor').select2('val', '');
            $('#ProductName').val("");
            $('#PurchaseDate').val("");
            oTable.fnFilter('');
        });

        $('#dataTable').on('click', '.edit', function (e) {
            e.preventDefault();
            var nRow = $(this).parents('tr')[0];
            var aData = oTable.fnGetData(nRow);
            var siteUrl = '/Purchase/New/' + aData.ItemId;
            $(location).attr('href', siteUrl);

        });
    });
    
    function fnActivityComplete(data, e) {}
</script>